#parent {
    height: 100vh;
}

body {    
    font: #6E6E6E;
    width: 350px;
    margin: auto;
}

#my-form {
    background: #fff;
    /* display: flex;
    justify-content: center; */
    width: 50%;
}

#fancy-bkg {
    width: 50%;
    /* background-image: url(''); */
}